#navigation
  margin 0
  padding 0
  border-bottom 1px solid black
  text-align right

  a
    display inline-block
    font-size 2rem
    line-height 1.5em
    padding 0 1rem
    margin 0
    text-decoration none
    text-transform uppercase
    color black

    &.active
      color gold
      font-weight bold

    &:hover
      text-decoration underline

    &:first-child
      padding-left 0

    &:last-child
      padding-right 0
