#navigation
  margin 0
  padding 0
  border-bottom 1px solid black

  a
    display inline-block
    font-size 2rem
    line-height 1.5em
    padding 0 1rem
    margin 0
    text-decoration none
    text-transform uppercase
    color black

    &.active
      color gold

    &:hover
      text-decoration underline
